.btn {
    display: inline-block;

    padding: 10px;

    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 5px;

    font-size: 14px;
    transition: all ease-in .2s;
}

.primary {
    color: var(--white);
    background-color: var(--primary);
}

.primary:hover {
    background-color: var(--primary-hover);
}

.primary svg {
    color: var(--white);
}

.ghost {
    color: var(--black);
    background: none;
    border: 1px solid var(--gray--3);
}

.ghost:hover {
    background-color: var(--primary);
    color: var(--white);
}

.ghost svg {
    color: var(--black);
}

.ghost:hover svg {
    color: var(--white);
}

.arrow {
    display: inline-block;
    transition: all ease-in .2s;
    margin-left: 10px;
}

.arrow svg {
    transition: all ease-in .2s;
}

.down {
    transform: rotate(90deg);

}