html,
body {
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	color: var(--black);
	background: var(--bg);

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--bg: #F5F6F8;
	--black: #3B434E;
	--white: white;
	--primary: #7653FC;
	--primary-hover: #5129EE;
	--red: #FC836D;
	--red-2: #DE0000;
	--green: #1DC47E;
	--green-light: #C8F8E4;
	--gray: #BBB;
	--gray--2: #B3C0D9;
	--gray--3: #EBEBEB;
	--gray--4: #E2E2E2;
	--gray--5: #787D85;
	--gray--6: #DFDFDF;
	--font-family: 'Noto Sans KR', sans-serif;
}
